<!DOCTYPE html>
<html>
<head>
    <title>Task Time Calculator</title>
</head>
<body>
    <ul>
        <% @tasks.each do |task| %>
            <li><%= task.name %></li>
        <% end %>
    </ul>
</body>
</html>
